<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Le Prenom</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.2"
      integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
      crossorigin="anonymous"
    ></script>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container">
      <h1>Welcome to le prenom !</h1>
    </div>
    <div class="container">
      <h2>Stats</h2>
      <div hx-get="/stats" hx-trigger="load" class="container">
        Stat placeholder
      </div>
    </div>

    <div class="container">
      <h2>List</h2>
      <a href="list">List of all first name</a>
    </div>
    <div class="container">
      <h2>Sessions</h2>
      <form hx-post="/sessions/new" hx-target="#new_session_result">
        <input
          type="text"
          name="session_name"
          placeholder="Session Name"
          required
        />
        <select name="session_type" id="session-type">
          <option value="all">All</option>
          <option value="boy">Boy</option>
          <option value="girl">Girl</option>
          <option value="unisex">Unisex</option>
        </select>

        <button type="submit">Create</button>
      </form>
      <div id="new_session_result"></div>
      <h3>Available sessions</h3>
      <div
        hx-get="/sessions/list"
        hx-trigger="load, newSessionCreatedEvent from:body"
        class="container"
      >
        <li>Placeholder</li>
      </ul>
    </div>
  </body>
</html>
