<!DOCTYPE html>
<html lang="en">
  {{template "header"}}

  <body>
    <div class="container">
      <h1>Welcome to le prenom !</h1>
    </div>
    <div class="container">
      <h2>Stats</h2>
      <div hx-get="/stats" hx-trigger="load" class="container">
        Stat placeholder
      </div>
    </div>

    <div class="container">
      <h2>List</h2>
      <a href="list">List of all first name</a>
    </div>
    <div class="container">
      <h2>Sessions</h2>
      <form hx-post="/sessions/new" hx-target="#new_session_result">
        <input
          type="text"
          name="session_name"
          placeholder="Session Name"
          required
        />
        <select name="session_type" id="session-type">
          <option value="all">All</option>
          <option value="boy">Boy</option>
          <option value="girl">Girl</option>
          <option value="unisex">Unisex</option>
        </select>

        <button type="submit">Create</button>
      </form>
      <div id="new_session_result"></div>
      <h3>Available sessions</h3>
      <div
        hx-get="/sessions/list"
        hx-trigger="load, newSessionCreatedEvent from:body"
        class="container"
      >
        <li>Placeholder</li>
      </ul>
    </div>
    {{template "footer"}}
  </body>
</html>
