<!DOCTYPE html>
<html lang="en">
  {{template "header"}}

  <body>
    <div class="container">
      <h1>List of all first name</h1>
      <div class="container">
        <button
          type="button"
          class="btn btn-primary"
          hx-get="list"
          hx-target="#list-body"
          hx-push-url="true"
        >
          All
        </button>
        <button
          type="button"
          class="btn btn-primary"
          hx-get="list?type=boy"
          hx-target="#list-body"
          hx-push-url="true"
        >
          Boy
        </button>
        <button
          type="button"
          class="btn btn-primary"
          hx-get="list?type=girl"
          hx-target="#list-body"
          hx-push-url="true"
        >
          Girl
        </button>
        <button
          type="button"
          class="btn btn-primary"
          hx-get="list?type=unisex"
          hx-target="#list-body"
          hx-push-url="true"
        >
          Unisex
        </button>
      </div>
      <div class="container">
        <table class="table" hx-indicator=".htmx-indicator">
          <tbody id="list-body">
            <tr>
              <td>Chose a first name type to see the list</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    {{template "footer"}}
  </body>
</html>
