{{define "header"}}
<head>
  <title>Le Prenom</title>
  <script
    src="https://unpkg.com/htmx.org@1.9.2"
    integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
    crossorigin="anonymous"
  ></script>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
  />
  <link
    rel="stylesheet"
    href="/static/bootstrap.min.css"
  />
  <link rel="icon" type="image/x-icon" href="/static/LePrenomIcon.png">
</head>
{{end}}
